@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p>
        Ukraine<br />
        Mykolaiv<br />
    </p>
    <p>
        <strong>Admin:</strong>   <a href="mailto:yuriy.lazar1986@gmail.com">yuriy.lazar1986@gmail.com</a><br />
    </p>
</address>